html{
    background: linear-gradient(to bottom right, #0652C5, #D4418E);
    height: 750px;
    font-size: 30px;

}

p input{
    border-radius: 20px;
}

form p{
    width: 50%;
    font-size: 40px;
    float: left;
}
button{
    width: 25%;
    height: 60px;
    float: right;
    font-size: 30px;
    border-radius: 20px;
    
}